body {
    background-color: #DBE5DC;
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
    margin: 0 auto;
    width: 75%;
}
h1, 
h2, 
h3 {
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color:#709690;
    font-family: 'Roboto', sans-serif;
}

header h1 {
    font-family: 'Roboto', sans-serif;
}

header h2 {
    font-family: 'Roboto', sans-serif;
}

video, audio {
    display: block;
    width: 55%;
    margin: 15px auto;
}
iframe {
    display: block;
    width: 45%;
    height: 350px;
    margin: 15px auto;
}

nav {
    background-color: #C79864;
    padding: 2px 0;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav li {
    display: block;
    border-bottom: 1px solid;
}

nav li a {
    display: block;
    height: 40px;
    line-height: 40px;
    background-color:#DEA1BA;
    color:black;
    text-decoration: underline;
    font-size: 1.3em;
}

nav li a:hover {
    background-color:indigo;
    color:#1D545F;
    border-color: black;
}

main {
    padding: 20px;
}

footer {
    background-color:#709690;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 15px 0;
}

.button {
    display: block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
}

.button:hover {
    background-color: #DBE5DC;
}

@media (min-width: 568px) {
    body {
        background-color: #A87B66;
        
    }

    p {
     font-size: 175%
    }
    img {
        display: block;
    margin: 0 auto;
    width: 75%;
    }

    nav li {
        display: inline-block;
        border: 0;
    }

    nav li a {
        background-color: 0;
        width: 150px;
        margin: 0 5px;
    }

    main {
        display: block;
        padding: 20px;
    }
    h1, h2, h3, h4, h5 {
        font-size: 175%;
    }
}

@media (min-width: 1024px) {
    body {
        background-color: #A87B66;
        
    }

    p {
     font-size: 175%
    }
    
    img {
        display: block;
    margin: 0 auto;
    width: 45%;
    }

    nav li {
        display: inline-block;
        border: 0;
    }

    nav li a {
        background-color: 0;
        width: 150px;
        margin: 0 5px;
    }

    main {
        display: block;
        padding: 20px;
    }
    h1, h2, h3, h4, h5 {
        font-size: 175%;
    }
}