body {
    background-color: #DBE5DC;
}

video, audio {
    display: block;
    width: 45%;
    margin: 15px auto;
}
iframe {
    display: block;
    width: 45%;
    height: 400px;
    margin: 15px auto;
}
img {
    display: block;
    margin: 0 auto;
    width: 35%;
}

header {
    padding: 40px 0;
    border-bottom: 5px solid #A99465;
}

main {
    padding: 20px;
}
