body {
    background-color: lightpink;
}

img {
    display: block;
    margin: 0 auto;
    width: 35%;
}

h1, h2, h3 {
    color:black;
    text-align: center;
}

#container {
    background-color:cadetblue;

}

nav {
    background-color: lightsalmon;
    padding: 2px; 0;
    text-align: center
}

nav ul {
    padding: 0%;
    list-style-type: none;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    background-color: lightpink;
    width: 150px; 
    height: 50px;
    line-height: 50px;
    font-size: 1.2em;
    font-weight: bold;
    color:black;
    text-decoration: underline;
    border: 2px solid black;
    border-radius: 15px;
}

nav li a:hover {
    background-color:darkcyan;
    color: red;
    border: 6px double darkcyan;
}

main {
    display: flex;
}

section, aside {
    border: 2px solid black;
    margin: 15px;
    padding: 15px;
}

section {
    width: 70%;
}

aside {
    width: 15%;
}

.single_page {
    width: 50%;
}

#lower_area {
    display: flex;
}

.col {
    order: 2px solid black;
    margin: 5px;
    padding: 5px;
}

footer {
    background-color: pink;
    text-align:center;
    padding: 20px 0;
    color: black;
    font-weight: bold;
}

.button {
    background-color: azure;
    color: black;
    text-decoration: underline;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}

.button:hover {
    background-color: beige;
    border-color: black;
}

